


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
    width: 100vw;
}

header{
display: block;
margin-bottom: 1px;
height: 100vh;
width: 100vw;
background-image: url("../Gifs/4K_60FPS\ Cypher\ Animated\ Wallpaper\ -\ Valorant\ Fanart\(1080P_60FPS\).gif");
background-size: cover; /* Para cobrir o elemento */
background-repeat: no-repeat; /* Para não repetir a imagem */
background-attachment: fixed; /* Para deixar a imagem fixa */
background-position: center;  /* Para centralizar a imagem (opcional) */
}

.video{
    
}

.title{
    float: left;
    width: 100%;
    height: 100px;
    background-color: ;  
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 1100px;
}

.title h1{
    font-size: 50px;
    color: rgba(0, 0, 0, 0.89);
    text-shadow: 4px 4px #00000038;
}

.botao {
  display: flex;
  justify-content: center;
  margin: 20px 0 30px 0;
  position: relative;
  bottom: 1110px;
  right: 80px;
}

.login {
  font-size: 16px;
  font-weight: 600;
  margin: 20px 0;
  padding: 10px;
  border-radius: 15px;
  border: 2px solid transparent;
  background-color: transparent;
  color: rgb(255, 255, 255);
  cursor: pointer;
}

.botao :hover {
  transition: 0.3s;
  text-shadow: 2px 2px rgba(0, 0, 0, 0.514);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.navegacao{
    height: 50px;
    width: 95%;
    position: relative ;
    bottom: 200px;
}

.navegacao ul{
    width: 100%;
    height: 100%;
    padding: 10px 10px 10px 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-size: 18px;
    list-style-type: none;
    
}

.link{
    text-decoration: none;
    font-weight: 800;
    color: #fffffe;
}

.pags{
    font-size: 16px;
    font-weight: 600;
    margin: 20px 0;
    padding: 10px;
    border-radius: 15px;
    border: 2px solid transparent;
    background-color: transparent;
    color: rgb(255, 255, 255);
    cursor: pointer;
}

.pags:hover{
    transition: 0.3s;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.514);
    box-shadow: rgba(221, 221, 221, 0.616) 0px 0px 15px 0px;
}

main{
    display: block;
    margin-top: 1px;
    height: 1000px;
    width: 100vw;
    background-color: #232946;
}

.text{
    padding-left: 10px;
    position: relative;
    top: 200px;
    color: #fffffe;
}

h3{
    
    
    
}

.icon{
    position: fixed;
    right: 10px;
    bottom: 10px;
    background: none;
    border: none;
}

.icon img{
    width: 120px;
}


footer{
    width: 100vw;
}





